Go/.vs/Go/v15/.suo
Go/bin/abb_menu.exe
Go/.vs/slnx.sqlite
Go/.vs/VSWorkspaceState.json
Go/src/abb_menu/abb_menu.exe
Go/abb_menu/abb_menu.exe
Kotlin/hello.jar
Groovy/abb_program.class
Groovy/Node.class
Groovy/TAD.class
Kotlin/bst.jar